.alert {
    background-color: white;
    padding: 1rem;
    width: 70%;
    border-radius: 8px;
    display: flex;
    gap: 2rem;
}

.alert i {
    margin-top: 12px;
}

.alert p {
    margin: 0;
    color: #0d68d0;
    width: auto;
}

.alert p:first-child {
    font-size: 24px;
    margin-bottom: 8px;
}

.alert-info {
    border: 2px solid #0d68d0;
    color: #0d68d0;
}