<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://api.ssps.cajthaml.eu/file/64d9f18f79dad891e8a07c73">
  <link rel="stylesheet" href="../styles.css" />
  <link rel="stylesheet" href="radio.css">
  <link rel="stylesheet" href="components.css">
  <title>Radio Group</title>
</head>
<body>
  <header>
    <a class="logo" href="../index.html">ComponentSnippets</a>
    <nav>
      <a href="../index.html">Home</a>
    </nav>
  </header>
  <main>
    <aside>
        <nav>
            <ul>
                <li><a href="button.html">Button</a></li>
                <li><a href="dropdown.html">Dropdown</a></li>
                <li><a href="input.html">Input</a></li>
                <li><a href="textarea.html">Textarea</a></li>
                <li><a href="switch.html">Switch</a></li>
                <li><a class="active" href="radio.html">Radio Group</a></li>
                <li><a href="cta.html">Call to Action</a></li>
                <li><a href="alert.html">Alert</a></li>
                <li><a href="accordion.html">Accordion</a></li>
                <li><a href="card.html">Card</a></li>
                <li><a href="modal.html">Modal</a></li>
            </ul>
        </nav>
    </aside>
    <section>
        <h2>Radio Group</h2>
        <p>Radio groups are essential for user interaction in digital interfaces, providing clear options for selection. These components ensure intuitive controls for seamless engagement.</p>
        <div>
            <form>
                <div class="radio-group">
                  <input type="radio" id="option-one" name="selector" /><label
                    for="option-one"
                    >One</label
                  ><input type="radio" id="option-two" name="selector" /><label
                    for="option-two"
                    >Two</label
                  ><input type="radio" id="option-three" name="selector" /><label
                    for="option-three"
                    >Three</label
                  >
                </div>
              </form>
            <a class="view" target="_blank" href="https://codepen.io/username5465/pen/PogVzxZ">View Code</a>
        </div>
    </section>
  </main>
</body>
</html>
