<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://api.ssps.cajthaml.eu/file/64d9f18f79dad891e8a07c73">
  <link rel="stylesheet" href="../styles.css" />
  <link rel="stylesheet" href="textarea.css">
  <link rel="stylesheet" href="components.css">
  <title>Textarea</title>
</head>
<body>
  <header>
    <a class="logo" href="../index.html">ComponentSnippets</a>
    <nav>
      <a href="../index.html">Home</a>
    </nav>
  </header>
  <main>
    <aside>
        <nav>
            <ul>
                <li><a href="button.html">Button</a></li>
                <li><a href="dropdown.html">Dropdown</a></li>
                <li><a href="input.html">Input</a></li>
                <li><a class="active" href="textarea.html">Textarea</a></li>
                <li><a href="switch.html">Switch</a></li>
                <li><a href="radio.html">Radio Group</a></li>
                <li><a href="cta.html">Call to Action</a></li>
                <li><a href="alert.html">Alert</a></li>
                <li><a href="accordion.html">Accordion</a></li>
                <li><a href="card.html">Card</a></li>
                <li><a href="modal.html">Modal</a></li>
            </ul>
        </nav>
    </aside>
    <section>
        <h2>Textarea</h2>
        <p>Textareas are essential for user interaction within digital interfaces, enabling smooth input and interaction. These components ensure clear, intuitive controls for seamless engagement.</p>
        <div>
            <div class="form-text-area">
                <textarea placeholder="Type your message" name="text-area" id="text-area" cols="30" rows="10"></textarea>
            </div>
            <a class="view" target="_blank" href="https://codepen.io/username5465/pen/LYvqZJa">View Code</a>
        </div>
    </section>
  </main>
</body>
</html>
